@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Cards */

.hero-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  height: 100%;
  width: auto;
}

.main-container {
  width: 270px;
  height: 350px;
  position: relative;
  margin: 0 20px;
}

.poster-container {
  width: 230px;

  position: absolute;
  top: 0;
  left: 20px;
  z-index: 99;
  margin: 15px 0;
}

.poster {
  width: 100%;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.giphy-container {
  background: #fff;
  width: 270px;
  height: 330px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 5px;
  position: absolute;
  top: 20px;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
  opacity: 0;
  /* margin: -15px 0; */
}

.main-container:hover .giphy-container {
  opacity: 1;
  animation: bounceIn 0.6s linear;
}

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.01, 1.01, 1.01);
    transform: scale3d(1.01, 1.01, 1.01);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* @keyframes bounce {
  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
} */

.giphy_content {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.giphy_title {
  text-transform: uppercase;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

.giphy_slogan {
  font-size: 0.9rem;

  padding: 0 10px;

  margin-bottom: 20px;
}



.add_btn{
	margin-bottom: 8px;
}

.fav_btn {
	cursor: pointer;
	width: 100%;
	background: #2f2f2f;
	color: white;
	
	padding: 8px 15px;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
} 

.card_wrapper {
  display: flex;
  height: auto;
  /* padding-bottom: 20px; */
  /* margin-bottom: 20px; */
  flex-direction: row;
  background-color: #e99e60;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  border-radius: 1.25rem;
  width: 90%;
  padding: 1.25rem;
  margin: 1.5rem 3rem;
}

.pagination > .btn {
  color: white;
}

/* // */
.header {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  height: 70px;
  width: 100%;
  background-color: black;
}

.search {
  width: 35%;
 
  border: none;
  outline: none;
}
::-webkit-input-placeholder {
  color: lightslategrey;
  font-size: 14px;
}

.searchbar {
  padding: 2px 12px;
  border: none;
  outline: none;
  width: 100%;
  height: 38px;
  border-radius: 8px 0 0 8px;
}

.bttn {
  padding: 7px 20px;
  font-size: 20px;
  border-radius: 6px;
  background-color: white;
}
.user{
	color: white;
}
.profile{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.profile > span{
	margin-left: 10px;
}

.profile > span > img{
	border-radius: 50%;
}

.profile .bttn {
  padding: 7px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

span {
  cursor: pointer;
}
